.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-profile {
  margin: 3rem;
  width: 16vw;
  height: 16vw;
  border: 10px solid #d0d0d5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-myname {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.app-profile > img {
  /* object-fit: contain; */
  object-fit: cover;
  width: 16vw;
  height: 16vw;
}

.app-title {
  margin: 1rem;
  font-size: 1.6rem;
}

.app-link {
  margin-top: 2rem;
  width: 24rem;
  height: 6rem;
  font-size: 1.2rem;
  border: 3px solid #1b1b32;
  background-color: #d0d0d5;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.app-link:hover {
  background-color: #1b1b32;
  color: whitesmoke;
}

.app-link > img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

